@model OnlineTicariOtomasyon.Models.Sınıflar.Class2
@{
    ViewBag.Title = "kategoriurun";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    $(function () {

        $('#DrpKategori').change(function () {

            var id = $('#DrpKategori').val();

            $.ajax({

                url: '/Kategori/UrunGetir',

                data: { p: id },

                type: "POST",

                dataType: "Json",

                success: function (data) {

                    console.log(data);

                    $('#DrpUrun').empty();

                    for (var i = 0; i < data.length; i++) {

                        $('#DrpUrun').append("<option value='" + data[i].Value + "'>" + data[i].Text + "</Option>");

                    }

                }

            });

        });

    });

</script>


<br />
<div>
    <h2>Kategori-Ürünler</h2>
</div>
<br />
<div>
    @Html.Label("Kategoriler")
    @Html.DropDownList("DrpKategori",Model.Kategoriler,"Kategori Seçimiz",new {@class="Form-control" })
    <br />
    @Html.DropDownList("DrpUrun",Model.Urunler,"Ürün Seçimiz",new {@class="Form-control" })
</div>

