@using OnlineTicariOtomasyon.Models.Sınıflar
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Departman Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        @*<th>ID</th>*@
        <th>DEPARTMAN ADI</th>
       
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detay</th>
    </tr>
    @foreach (var u in Model)
    {
        <tr>
            @*<td>@u.DepartmanID</td>*@
            <td>@u.DepartmanAd</td>
           
            <td><a href="/Departman/DepartmanSil/@u.DepartmanID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Departman/DepartmanGetir/@u.DepartmanID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Departman/DepartmanDetay/@u.DepartmanID" class="btn btn-info">Detay</a></td>
        </tr>
    }
</table>
<a href="/Departman/DepartmanEkle" class="btn btn-primary">Yeni Departman</a>        