@using OnlineTicariOtomasyon.Models.Sınıflar
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<table class="table table-bordered table-sm mt-3 ">
    <tr>
      
        <th>DEPARTMAN ADI</th>
        <th>İŞLEM</th>

    </tr>
    @foreach (var u in Model)
    {
        <tr>
          
            <td>@u.DepartmanAd</td>

            <td>
                <a href="/Departman/DepartmanSil/@u.DepartmanID" class="btn btn-danger btn-sm">Sil</a>
                <a href="/Departman/DepartmanGetir/@u.DepartmanID" class="btn btn-success btn-sm">Güncelle</a>
                <a href="/Departman/DepartmanDetay/@u.DepartmanID" class="btn btn-info btn-sm">Detay</a>
            </td>
        </tr>
    }
</table>
<a href="/Departman/DepartmanEkle" class="btn btn-primary btn-sm">Yeni Departman</a>        