@using OnlineTicariOtomasyon.Models.Sınıflar
@model List<KargoTakip>
@{
    ViewBag.Title = "KargoDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<table class="table table-striped table sm">
<tr>
    <th>AÇIKLAMA</th>
    <th>TARİH</th>
   
</tr>
@foreach (var x in Model)
{
    <tr>
        <td>@x.Aciklama</td>
        <td>@x.TarihZaman</td>
      
    </tr>
}
    </table>