
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<button class="btn btn-primary" id="btn1">Button1</button>
<button class="btn btn-warning" id="btn2">Button2</button>


<script>
    $('#btn1').click(function () {
        swal("Hello World!");
    });
</script>

<script>
    $('#btn2').click(function () {
        swal("Here's the title!", "...and here's the text!");
    });
</script>

